<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.womack.irwin-client</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/jwomack/Projects/github/jameswomack/irwin-client/node_modules/.bin:$PATH</string>
    <key>U</key>
    <string>yourUsername</string>
    <key>P</key>
    <string>yourPassword</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/jwomack/.nvm/versions/node/v0.12.0/bin/npm</string>
    <string>start</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Users/jwomack/Projects/github/jameswomack/irwin-client</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/irwin/err.log</string>
  <key>StandardOutPath</key>
  <string>/usr/local/var/log/irwin/out.log</string>
  <key>HardResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>1024</integer>
  </dict>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>1024</integer>
  </dict>
</dict>
</plist>
